* {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;

    user-drag: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: -moz-none;
    -ms-user-drag: none;
}

@-o-viewport {
    -ms-content-zooming: none;
    max-zoom: 1;
    min-zoom: 1;
    user-zoom: fixed;
}
@-ms-viewport {
    -ms-content-zooming: none;
    max-zoom: 1;
    min-zoom: 1;
    user-zoom: fixed;
}
@viewport {
    -ms-content-zooming: none;
    max-zoom: 1;
    min-zoom: 1;
    user-zoom: fixed;
}

.canvas {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #0e0e0e;
}

.containerViewer {
    overflow: auto;
    position: fixed;
    left: 0;
    right: 0;
    height: 100%;
}
.containerViewer::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    border-radius: 4px;
}
.containerViewer::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(55, 55, 55, 0.75);
    box-shadow: 0 0 2px 2px rgba(150, 150, 150, 0.7) inset;
}

.pageContainer {
    display: flex;
    height: 100%;
}

.pageViewer {
    width: 100%;
    height: 100%;
    transition: all 0.7s ease;
    overflow: hidden;
    margin: 0 5px;
    position: relative;
}

.imageCanvas {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.pageViewer canvas, .pageViewer img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    object-fit: contain;
    width: 100%;
    height: 100%;
    border: none;
}

.pageViewer[hide] {
    width: 0;
    margin: 0;
}

*[loading] {
    background-image: url("../loading.png");
    background-size: cover;
    background-position: center;
}

.leftPageMoveBox, .rightPageMoveBox {
    display: none;
    width: 50px;
    height: 50px;
    position: fixed;
    z-index: 100;
    cursor: pointer;
}

.leftPageMoveBox svg path, .rightPageMoveBox svg path {
    stroke: gray;
    stroke-width: 3;
}

.leftPageMoveBox:hover svg path, .rightPageMoveBox:hover svg path {
    stroke: black;
}

.leftPageMoveBox {
    left: 18px;
}

.rightPageMoveBox {
    right: 18px;
}

.menu {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 200;
    background: linear-gradient( 0deg, rgba(10, 10, 10, 0.75), rgba(10, 10, 10, 0.05) );
    transform-origin: bottom;
    height: 0;
    transition: all 0.4s ease-out;
}

.menu[show] {
    height: 70px;
}

.footerTop {
    display: flex;
    justify-content: center;
    position: absolute;
    height: 30px;
    top: 0;
    width: 100%;
}

.footerBottom {
    position: absolute;
    top: 36px;
    height: 20px;
    width: 100%;
    padding: 6px 8px;
    box-sizing: border-box;
}

.sideMenu, .fullModeMenu {
    width: 100%;
    height: 100%;
}

.fullModeMenu {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding: 0 10px;
}

.fullModeMenu .fullPageMode {
    display: none;
}

.fullModeMenu[full] .fullPageMode {
    display: inline-block;
}

.fullModeMenu[full] .defaultPageMode {
    display: none;
}

.fullModeState {
    fill: rgb(216, 216, 216);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.currentPageWidth {
    position: fixed;
    z-index: -100;
    visibility: hidden;
    padding: 5px;
    font-size: 18px;
}

.pageInfo {
    display: flex;
    align-items: baseline;
    font-size: 18px;
    color: rgb(216, 216, 216);
    text-shadow: 0 0 3px black;
}

.pageInfo .currentPage {
    background-color: #00000000;
    border: none;
    font-size: 18px;
    color: rgb(216, 216, 216);
    text-align: center;
    width: auto;
    -moz-appearance: textfield;
    text-shadow: 0px 0px 3px black;
}
.pageInfo .currentPage::-webkit-outer-spin-button, .pageInfo .currentPage::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.scrollBar {
    background-color: rgba(252, 252, 252, 0.7);
    box-shadow: 0 0 2px 2px black;
    border-radius: 3px;
    height: 100%;
}

.scrollBarItem {
    background-color: rgb(100, 100, 100);
    border-radius: 3px;
    height: 100%;
    width: 0%;
    position: relative;
}

.scrollBarItem::after {
    background-color: rgb(100, 100, 100);
    content: " ";
    position: absolute;
    border-radius: 100%;
    right: -4px;
    top: -4px;
    width: 16px;
    height: 16px;
    box-shadow: 0 0 2px 2px black;
}

@media(min-width: 790px) {
    .canvas {
        background-color: #00000000;
    }
    .containerViewer {
        left: 75px;
        right: 75px;
    }

    .leftPageMoveBox, .rightPageMoveBox {
        display: block;
    }
}
